<div class="modal-header">
	<h5 class="modal-title">Restaura tu contraseña</h5>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
  <form novalidate [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group">
      <input type="email" name="email" id="email" formControlName="correo" class="form-control" placeholder="Correo electrónico" [class.is-invalid]="formSubmitted && form.controls.correo.invalid" [class.is-valid]="formSubmitted && form.controls.correo.valid">
      <div class="invalid-feedback">Campo inválido.</div>
    </div>
    <input type="submit" class="d-none" #btnSubmit>
  </form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="btnSubmit.click()">Restaurar</button>
</div>