<div class="container mt-3">
  <div class="col-sm-12 text-center mb-2">
      <button class="btn btn-primary" (click)="downloadResults()">Descargar Resultados</button>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th (click)="toggleNombre = !toggleNombre; orderByColumn('nombre', toggleNombre)">Nombre</th>
        <th (click)="toggleApellido = !toggleApellido; orderByColumn('apellido', toggleApellido)">Apellido</th>
        <th (click)="toggleNivel = !toggleNivel; orderByColumn('nivel', toggleNivel)">Nivel</th>
        <th (click)="toggleEdad = !toggleEdad; orderByColumn('edad', toggleEdad)">Edad</th>
        <th (click)="toggleProgress = !toggleProgress; orderByColumn('totalProgressInPercent', toggleProgress)">Porcentaje Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td> {{ user.nombre }} </td>
        <td> {{ user.apellido }} </td>
        <td> {{ user.nivel }} </td>
        <td> {{ user.edad }} </td>
        <td> {{ (user.totalProgressInPercent || 0) | percent:'1.2'  }} </td>
        <td> <a class="btn btn-outline-primary btn-sm" (click)="verDesglose(user)">Ver desglose</a> </td>
      </tr>
    </tbody>
  </table>
</div>